* {
    font-family: "Open Sans", "Noto Sans KR", sans-serif;
}

html,
body {
    background-color: rgb(131, 116, 116);
}

.line {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border: 3px solid rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 50px;
}

.inner {
    width: 100%;
}


/* 상단메뉴 */
.burger {
    width: 100%;
    height: 300px;
}

.burger .inner {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    line-height: 100px;
}

.burger .inner h1 {
    font-size: 50px;
    color: aliceblue;
    font-weight: 700;
}

.burger .inner h2 {
    font-size: 40px;
    color: aliceblue;
    font-weight: 700;
}

.burger .inner h3 {
    font-size: 30px;
    color: aliceblue;
    font-weight: 700;
}

.burger .inner img {
    width: 100%;
    height: 100%;
}

/* 주문화면 */
.whereEat {
    width: 100%;
}

.whereEat .inner {
    display: flex;
    padding-top: 200px;
    margin: 0 auto;
    justify-content: center;
}

.whereEat .inner .borderBox {
    width: 25%;
    border: 1px;
    justify-content: center;
    text-align: center;
}

.whereEat .inner .borderBox .EatImg {
    width: 100%;
}

.whereEat .inner .borderBox .EatImg img {
    width: 200px;
    height: 200px;
    border-radius: 30%;
    border: 5px solid rgb(255, 230, 196);
}

/*꼬리말*/
.end{
    width: 100%;
    padding-top: 250px;
}

.end .inner{
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
}

.end .inner h1{
    color: aliceblue;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}